{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Tent Prediction{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
        <a class="navbar-brand" href="#">Tent Prediction</a>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="">
            <div class="row">
                <div class="col-md-12">
                <h3>To determine the probability of Diabetic, please enter the following:</h3>
            </div>
        </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{ form.NPL.label }} {{ wtf.form_field(form.NPL) }}</p>
			<p>{{ form.PGL.label }} {{ wtf.form_field(form.PGL) }}</p>
			<p>{{ form.DIA.label }} {{ wtf.form_field(form.DIA) }}</p>
			<p>{{ form.TSF.label }} {{ wtf.form_field(form.TSF) }}</p>
			<p>{{ form.INS.label }} {{ wtf.form_field(form.INS) }}</p>
			<p>{{ form.BMI.label }} {{ wtf.form_field(form.BMI) }}</p>
			<p>{{ form.DPF.label }} {{ wtf.form_field(form.DPF) }}</p>
            <p>{{ form.Age.label }} {{ form.Age(size=2) }}
                {% for error in form.Age.errors %}
                &nbsp;&nbsp;{{ error }}
            {% endfor %}</p>
            <br>
            {{ form.submit() }}
            {{ form.hidden_tag() }}
        </div>
    </div>
</div>
{% endblock %}

