<title>Diabetic Prediction </title>
 

<form action="" method="get">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table>
                      <tr>
                        <td>probability</td>
                        <td> {{ scoring['probability'] }} </td>
                      </tr>
                      <tr>
                        <td>prediction</td>
                        <td> {{ scoring['prediction'] }} </td>
                      </tr>
                      <tr>
                        <td>rawPrediction</td>
                        <td> {{ scoring['rawPrediction'] }} </td>
                      </tr>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <h4><a href="/">Try Again!</h4>
            </div>
        </div>
    </div></div>

</form>